body {
  background-color: rgb(247, 243, 243, 0.7);
  background-image:url("https://img.freepik.com/free-vector/sky-background-video-conferencing_23-2148639325.jpg?w=1480&t=st=1699005039~exp=1699005639~hmac=6b9d748a8a1968c4e7c94b4bd120e3f64851c67736fc6b7f9915bbc9ad9baa4b");
  back
  display: block;
  font-family:Arial, Helvetica, sans-serif;

}

header {
  display: block;
  text-align: center;
  
}

h1 {
  text-align: center;
  color: rgb(38, 38, 38);
}

.app-title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}


.header-form {
  background-color: rgb(255, 255, 255, 0.7);
  box-shadow: 2px 2px 2px rgb(154, 154, 154);
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 50px 20px;
  border-radius: 20px;
  border: rgb(149, 199, 244);
  max-width: 500px;


}


.form-search-bar {
  padding: 20px 40px; 
  border-radius: 10px;
  margin-right: 20px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(40, 40, 40);
  
}





.form-search-button {
  padding: 10px 20px; 
  border-radius: 10px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  border-color: rgb(40, 40, 40);


}

:hover .form-search-button {
  background-color: rgb(149, 199, 244);


}

.city-weather {
  background-color: rgb(255, 255, 255, 0.7);;
  box-shadow: 2px 2px 2px rgb(154, 154, 154);
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 3px 20px;
  border-radius: 20px;
  max-width: 500px;
}

p {
  text-align: center;
  font-size: large;
}

.current-temp {
  text-align: center;
  font-size: 100px;
}

.weekly-forecast {
  background-color: rgb(255, 255, 255, 0.7);
  box-shadow: 2px 2px 2px rgb(154, 154, 154);
  margin: 0 auto;
  padding: 3px 20px;
  border-radius: 20px;
  max-width: 500px;

}

.p-footer {
  text-align: center;
  font-size: 15px;
}