body {
  background-color: rgb(247, 243, 243, 0.7);
  background-image: url("background.jpg");
  display: block;
  font-family:Arial, Helvetica, sans-serif;

}

header {
  display: block;
  text-align: center;
  
}

h1 {
  text-align: center;
  color: rgb(38, 38, 39);
}

.app-title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 40px;
}

/*SEARCH BLOCK*/

.header-form {
  background-color: rgb(255, 255, 255, 0.2);
  box-shadow: 2px 2px 2px rgb(154, 154, 154);
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 50px 20px;
  border-radius: 20px;
  border: rgb(149, 199, 244);
  max-width: 500px;


}


.form-search-bar {
  padding: 20px 40px; 
  border-radius: 10px;
  margin-right: 20px;
  background-color: rgb(255, 255, 255, 0.3);
  border-color: rgb(170, 170, 170);
  font-size: 15px;
  
}

.form-search-bar:hover {
  background-color: rgb(255, 255, 255, 0.3);
  transition: all 200ms ease-in-out;
  font-size: 20px;

}

.form-search-button {
  padding: 10px 20px; 
  border-radius: 10px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255, 0.3);
  border-color: rgb(170, 170, 170);


}

.form-search-button:hover {
  background-color: rgb(255, 255, 255, 0.3);
  transition: all 200ms ease-in-out;
  cursor: pointer;
  font-size: medium;

}

/*CURRENT WEATHER BLOCK*/

.city-weather {
  background-color: rgb(255, 255, 255, 0.2);
  box-shadow: 2px 2px 2px rgb(154, 154, 154);
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 3px 20px;
  border-radius: 20px;
  max-width: 500px;
}

p {
  text-align: center;
  font-size: large;
}

.current-city {
  text-align: center;
  font-size: 50px;
  line-height: 0.5;
  text-transform: capitalize;
  margin-bottom: 20px;
}


.current-temp {
  text-align: center;
  font-size: 80px;
  display: flex;
  justify-content: center;
}

.current-temp-icon {
  margin-bottom: 5px;
  height: 100px;


}

.current-temp-value {
  font-size: 75px;
}

.current-temp-unit {
  font-size: 35px;
  margin-top: 10px;
}

.date, .time, .description, .humidity, .wind{
  display: flex;
  justify-content: center;
  line-height: 1.5;
}

/*WEEKLY FORECAST BLOCK*/

.weekly-forecast-all {
  background-color: rgb(255, 255, 255, 0.2);
  box-shadow: 2px 2px 2px rgb(154, 154, 154);
  margin: 0 auto;
  padding: 3px 20px;
  border-radius: 20px;
  max-width: 500px;

}

.weekly-forecast {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  line-height: 2;
  margin-bottom: 20px;
}


/*FOOTER*/

.p-footer {
  text-align: center;
  font-size: 15px;
  color: rgba(29, 29, 29);
}